/* CSS declarations go here */
#logs-wrapper {
    border: 1px solid #000;
    margin: 1em 0;
    padding: 1em;
    overflow: scroll;
    height: 300px;
    background-color: #333333;
}

#logs-list {
    list-style-type: none;
    color: #e6e6e6;
}

#logs-list li {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

#homepage {
    border: 1px solid #000;
    margin: 1em 0;
    padding: 1em;
}