<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
    <title>Demo Java Upgrade</title>
    <link rel="stylesheet"
      th:href="@{/css/bootstrap.min.css}"
      href="../../css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand"
              href="https://github.com/ultraq/thymeleaf-layout-dialect">
              Demo Java Upgrade
          </a>
        </div>
      </div>
      <h1 layout:fragment="header">Java version</h1>
        <div>
            <ul>
                <li th:text="${javaVersion}">Java version</li>
            </ul>
        </div>
    </div>
  </body>
</html>
